In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('hatWordList.csv', sep=";")

In [6]:
import re

In [11]:
df[df.word.apply(lambda x: re.search(r'[^а-я]', x) is not None)]

                   word  Quality  Difficulty  NumOfMarks
0                авари€        0           0           3
7                  бан€        0           0           3
19                врем€        0           0           3
29                 дын€        0           0           4
42                ковЄр        0           0           3
...                 ...      ...         ...         ...
16126            тупай€        1          12           3
16132  трискаидекафоби€        2          12           3
16138       цезальпини€        0          12           3
16149     талассократи€        0          14           4
16151        пента-трик        2          14           4

[2265 rows x 4 columns]

In [12]:
df.word = df.word.apply(lambda x: x.replace('€', 'я').replace('Є', 'ё'))

In [15]:
df[df.word.apply(lambda x: re.search(r'[^а-яё\-]', x) is not None)]

        word  Quality  Difficulty  NumOfMarks
1221    Ћќ∆№        0           1           3
1540  »—“»Ќј        0           1           3

In [21]:
df = df.drop([1221, 1540])

In [26]:
df.to_csv('MoscowChampionship.csv', index=False)

In [31]:
df[df.Quality == 2].head(20)

           word  Quality  Difficulty  NumOfMarks
153      вопрос        2           0           3
154         год        2           0           3
155       город        2           0           3
156     квадрат        2           0           3
157        круг        2           0           3
158         лук        2           0           3
159        мыло        2           0           3
160         мяч        2           0           4
161      огурец        2           0           3
162        очки        2           0           3
163      победа        2           0           3
164        попа        2           0           3
165       слово        2           0           3
166         чай        2           0           3
167       шляпа        2           0           3
217  литература        2           0           3
218      ноготь        2           0           3
219         нож        2           0           3
220        обед        2           0           3
221        пиво        2           0           3

In [35]:
df[df.NumOfMarks != 3].head(30)

           word  Quality  Difficulty  NumOfMarks
29         дыня        0           0           4
69          мох        0           0           4
91      подпись        0           0           4
132        цирк        0           0           4
134     черешня        0           0           4
144        яйцо        0           0           4
160         мяч        2           0           4
224  автомобиль        0           0           4
234        гриб        0           0           4
242      камень        0           0           4
256        овца        0           0           4
259       песок        0           0           4
304         мед        0           0           4
453         вор        0           0           4
472    черепаха        0           0           4
582      артист        0           0           4
583        болт        0           0           4
584       боров        0           0           4
587        бусы        0           0           4
589         вой        0           0           4
590    воротник        0           0           4
594         дно        0           0           5
596       залог        0           0           4
605     крапива        0           0           4
629     процесс        0           0           4
631     реклама        0           0           4
632     ресница        0           0           4
642       сумка        0           0           4
648   термометр        0           0           4
650        удар        0           0           4

In [54]:
df[df.Difficulty == 18]

Empty DataFrame
Columns: [word, Quality, Difficulty, NumOfMarks]
Index: []